<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mt-5 mb-5 kavoon">
        The access code for the game is
      </h2>
      <h3 class="text-center mb-5 suse access-code">
        {{ roomName }}
      </h3>
      <h5 class="text-center mb-5 suse">
        Waiting for more
        <span class="access-code">{{ remainingPlayers }}</span> more players...
      </h5>
      <div class="p-lg-5">
        <div class="text-center"></div>
      </div>
    </div>
  </div>
</div>
