<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ng-container *ngIf="!loading; else loadingTemplate">
        <h2 class="text-center mt-5 mb-5 kavoon">
          The access code for the game is
        </h2>
        <h3 class="text-center mb-5 suse access-code">
          {{ roomName }}
        </h3>
        <h5 class="text-center mb-5 suse">
          Waiting for more
          <span class="access-code">{{ remainingPlayers }}</span> more
          players...
        </h5>
      </ng-container>

      <ng-template #loadingTemplate>
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <h5 class="mt-3">Loading data...</h5>
        </div>
      </ng-template>
    </div>
  </div>
</div>
