.btn-color {
  background-color: #76abae;
  color: #eeeeee;
  font-weight: 700;
  &:hover {
    background-color: #8ac9cc;
  }
}

.coloured-text {
  color: #76abae;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
